/* RESET CSS */

* {
  box-sizing: border-box;
  margin: 0;
}

button,
input,
textarea {
  font-size: 11px;
  line-height: 1.25;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  box-shadow: none;
  outline: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: inherit; /* inherit 은 상속을 의미함 해당 요소의 부모요소의 폰트색을 물려받음 */
}
/* container css */

.border-1 {
  border: 4px solid black;
}
.bg-color {
  background-color: rgba (var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
.yellow {
  border: 3px solid purple;
}
nav > a {
  display: inline-block;
  color: #000;
}
.first-flex-wrap {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-text {
  /* border: 1px solid black; */
  width: 25%;
}
.menu-srh-group {
  border: 1px solid red;
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.menu-wrap {
  border: 1px solid blue;
  font-size: 16px;
}
.menu-wrap a {
  padding: 8px;
  color: rgba(0, 0, 0, 0.55);
}
.srh-text-srh-btn-container {
  border: 1px solid hotpink;
}
