* {
  box-sizing: border-box;
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border-radius: 7px;
  color: #fff;
  width: 90px;
  padding: 10px;
  background-color: #0066ff;
}
.box {
  width: 150px;
  height: 150px;
  display: inline-block;
  text-align: center;
  line-height: 9.375;
  color: #fff;
  border: none;
}
.wrap {
  border: none;
}
.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.wrap {
  border: none;
}
.r {
  background-color: red;
}
.g {
  background-color: green;
}
.b {
  background-color: blue;
}
.btn-container {
  position: absolute;
  bottom: 0;
  border: none;
}
.ex-btn-family {
  position: absolute;
  left: 0;
  bottom: 0;
}
