* {
  box-sizing: border-box;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.btn-outline-success {
  border-color: rgb(44, 172, 80) !important;
  color: rgb(44, 172, 80) !important;
}
.btn-outline-success:hover {
  background-color: rgb(44, 172, 80) !important;
  color: white !important;
}
.navbar-brand {
  font-weight: 600;
  font-size: 30px !important;
}
.main-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}
.main-content-text button {
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 3px;
  background-color: #212529;
}
footer {
  background-color: #f8f9fa;
  color: #000;
}
.pd-size {
  padding: 40px 0;
}
.bottom-line {
  border-bottom: 1px solid #fff !important;
}
.second-line a {
  color: #000;
  text-decoration: none;
}
@media screen and (max-width: 48rem) {
  .bottom-line {
    text-align: center;
  }
}
@media screen and (max-width: 48rem) {
  .bottom-line {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 720px) {
  .third-line {
    display: none;
  }
}
.third-line {
  text-align: center;
  padding-bottom: 40px;
}
.col #a-1:hover {
  content: "회원가입";
}
.right-sort {
  border-radius: 100px;
  background-color: #e6ebe5;
}
.right-sort li {
  margin: 0 6px;
}

.card {
  cursor: pointer;
}

.bg-video__content {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.sec-bg-videro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 50px 20px;
  background-color: #212529;
}
.ad-text {
  text-align: center;
  margin-bottom: 55px;
}
.bg-video:first-child {
  margin-right: 20px;
}

.over-bg-ef {
  text-align: center;
  border-radius: 100px;
}
.over-bg-ef:hover {
  background-color: rgb(145, 210, 145);
}
.logo-txtitle {
  margin-top: 20px;
  color: #fff;
  text-align: center;
  width: 200px;
  background-color: #212529;
}
.language-tranform {
  width: 100%;
  background-color: #212529;
  display: flex;
  flex-direction: row-reverse;
  color: #fff;
  padding: 7px 7px;
}
.mo-show {
  display: none;
}
@media screen and (max-width: 600px) {
  .language-tranform {
    display: none;
  }
  .plant-profile {
    display: none;
  }
  .bg-video__content {
    width: 100px;
    height: 100px;
  }
  .sec-bg-videro {
    justify-content: space-around;
  }
  .bg-video {
    border-radius: 12px;
  }
  .logo-title-mo-center {
    display: flex;
    justify-content: center;
  }
  .logo-txtitle {
    border-radius: 20px;
  }
  .mo-show {
    display: block;
  }
  .ad-text {
    display: none;
  }
  .mo-text {
    text-align: center;
    margin-bottom: 55px;
  }
}
